.red {
	color: red
}
.typeahead {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden
}
.handserror {
	background-color: #FA5858 !important;
	color: #fff
}
.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

* html .ui-autocomplete {
	height: 100px;
}