{% extends 'base.html.twig' %}

{% block body %}
    <div class="contact-header">
        <div class="container">
            <div class="about">
                <h1>About XPS</h1>
                <div class="post-content col-sm-4">
                    <p>By partnering with XPS Automation and Fanuc, you can be confident we will fulfill all of your automation
                        needs. We operate in our 38,000 sq-ft manufacturing space in Detroit, Michigan. We take pride in producing
                        the best possible products and are committed to quality engineering.</p>
                </div>
                <div class="col-sm-8">
                    <img style="width:100%" src="images/location-sm.jpg"/>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr>
            <div class="equipment">
                <h1>Equipment</h1>
                <div class="col-sm-8">
                    <p>We build automation equipment, but we also have a full suite of equipment ready to prototype and bench
                        test.</p>
                    <div class="flexslider flexplaceholder placeholder-colorfix" style="direction:ltr">
                        <ul class="slides">
                            <li>
                                <img src="images/px800.png"/>
                            </li>
                            <li>
                                <img src="images/tinygif.gif" data-src="images/kmc-318.png"/>
                            </li>
                            <li>
                                <img src="images/tinygif.gif" data-src="images/mv204c.png"/>
                            </li>
                            <li>
                                <img src="images/tinygif.gif" data-src="images/quaser-mv184.png"/>
                            </li>
                            <li>
                                <img src="images/tinygif.gif" data-src="images/kent-lathe.png"/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="post-content col-sm-4">
                    <h3>3D Printing and Additive Manufacturing</h3>
                    <ul>
                        <li>ProX 800</li>
                        <li>FDM Printer</li>
                    </ul>
                    <h3>CNC Milling</h3>
                    <ul>
                        <li>YMT QV209 79″ x 36″</li>
                        <li>YMT SMV 1060 40″ x 23.6″</li>
                        <li>YMT QV179A 66″ x 35″</li>
                        <li>Quaser MV204C 12B 50″ x 28″</li>
                        <li>Quaser MV184C 12C 40″ x 24″</li>
                        <li>KAO MING KMC-318HIS 127″ x 67″</li>
                        <li>Fadal 40″ x 20″</li>
                        <li>Tarus 95″ x 62″ 80in (Deep)</li>
                    </ul>
                    <h3>Manual Machines</h3>
                    <ul>
                        <li>Bridgeport Ex-cell-o 40″ x 9″ x 25″ Z</li>
                        <li>Bridgeport KBC 40″ x 9″ x 25″ Z</li>
                        <li>Bridgeport Alliant 40″ x 9″ x 25″ Z</li>
                        <li>Lathe-Kent USA RML 1640T 16" x 40"</li>
                        <li>Cincinnati Bickford Radial Arm Drill</li>
                        <li>OOYA RE2 1450D Radial Arm Drill</li>
                        <li>Cut Off Saw: KBC</li>
                    </ul>
                    <h3>Manual Welders</h3>
                    <ul>
                        <li>Delta Weld 302 Mig Welder</li>
                        <li>Dynasty 350 Tig Welder</li>
                    </ul>
                    <h3>Boring Mill</h3>
                    <ul>
                        <li>Shibaura BT 10B 49″ x 44″</li>
                    </ul>
                    <p>&nbsp;</p>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        {{ include('default/interest_section.html.twig') }}
    </div>
{% endblock %}
