{% extends 'base.html.twig' %}

{% block body %}
    <div class="contact-header">
        <div class="container">
            <h1>Industries</h1>
            <div class="col-sm-8">
                <p>We specialize in the design and manufacturing of automated and secondary equipment for world-class
                    manufacturers across many industries. Our services include Secondary Equipment design, Assembly,
                    Integration, and Robotics. Additionally, we can support almost any industry.</p>
                <!--          <div class="flexslider flexplaceholder placeholder-colorfix" style="direction:ltr">-->
                <!--            <ul class="slides">-->
                <!--              <li>-->
                <!--                <img src="images/px800.jpg" />-->
                <!--              </li>-->
                <!--              <li>-->
                <!--                <img src="images/tinygif.gif" data-src="images/mv204c.jpg" />-->
                <!--              </li>-->
                <!--            </ul>-->
                <!--          </div>-->
            </div>
            <div class="post-content col-sm-8">
                <ul style="list-style-type:none;-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;font-size: 16px;padding:10px;line-height: 30px;">
                    <li>Automotive and Transportation</li>
                    <li>Aerospace</li>
                    <li>Appliance</li>
                    <li>Construction</li>
                    <li>Farm and Construction</li>
                    <li>Furniture</li>
                    <li>Large Truck</li>
                    <li>Medical</li>
                    <li>Military and US Department of Defense</li>
                    <li>Power Tool</li>
                    <li>Recreational Vehicles</li>
                    <li>Renewable Energy</li>
                    <li>Sports</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
