<div class="homepage-container about-container" id="custominterest">
    <a name="custominterest_section" class="home-anchor"></a>
    <div class="inner">
        <h2>Interested in Custom Machines and Integration?</h2>
        <a href="/contact" class="btn btn-black">CONTACT US</a>
    </div>
</div>